body {
    background-color: black;
    overflow-x: hidden;
}

.results {
    color: white;
    text-align: center;
}

.grid {
    width: 300px;
    max-width: 100vw;
    height: 300px;
    border: solid white 1px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.grid div {
    width: 20px;
    height: 20px;
}

.invader {
    background-color: blue;
    border-radius: 10px;
}

.shooter {
    background-color: purple;
}

.laser {
    background-color: red;
}

.boom {
    background-color: orange;
}